*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #A5F3FC;
}

.body_login{
    width: 540px;
    height: 500px;
    border-radius: 10px;
    background: white;
}
.btn_close button{
    margin-top: 15px;
    margin-left: 510px;
    border: none;
   background-color: white;
}
.btn_close button i{
    font-size: 20px;
  
}
.body_login h1{
    font-size: 36px;
    text-align: center;
    color: rgb(29 203 223) ;
    padding-bottom: 20px;
    padding-top: 0px;
}   
.input_box{
    position: relative;
    margin: 15px 8%;
}
.input_box input{
    width: 460px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    padding-left: 10px;
}
input:hover{
    border:solid 2px rgb(29 203 223);
}
.input_box i{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.btn_register{
    margin-top: 35px;
    margin-left: 12%;
}
.btn_register button{
    height: 35px;
    width: 440px;
    background: rgb(29 203 223);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.text_register{
    margin: 10px 30%;
}
.text_register a{
    text-decoration: none;
    color: rgb(29 203 223);
}
.text_register{
    color: gray;
}
